In [29]:
!pip install uszipcode

Requirement already satisfied: uszipcode in /usr/local/lib/python3.6/dist-packages (0.2.4)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from uszipcode) (1.3.19)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from uszipcode) (2.23.0)
Requirement already satisfied: pathlib-mate in /usr/local/lib/python3.6/dist-packages (from uszipcode) (1.0.0)
Requirement already satisfied: attrs in /usr/local/lib/python3.6/dist-packages (from uszipcode) (20.2.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->uszipcode) (1.24.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from pathlib-mate->uszipcode) (1.15.0)
Requirement already satisfied: autopep8 in /usr/local/lib/python3.6/dist-packages (from pathlib-mate->uszipcode) (1.5.4)
Requirement already satisfied: toml in /usr/local/lib/python3.6/dist-packages (from autopep8->pathlib-mate->uszipcode) (0.10.1)
Requirement already satisfied: pycodestyle>=2.6.0 in /usr/local/lib/python3.6/dist-packages (from autopep8->pathlib-mate->uszipcode) (2.6.0)

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from uszipcode import Zipcode, SearchEngine

In [31]:
!unzip airbnb.csv.zip

Archive:  airbnb.csv.zip
replace train.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: train.csv

In [71]:
airbnb = pd.read_csv("airbnb.csv.zip")
print(airbnb.shape)
airbnb.head()

(74111, 29)

         id  log_price property_type  ...  zipcode bedrooms  beds
0   6901257   5.010635     Apartment  ...    11201      1.0   1.0
1   6304928   5.129899     Apartment  ...    10019      3.0   3.0
2   7919400   4.976734     Apartment  ...    10027      1.0   3.0
3  13418779   6.620073         House  ...  94117.0      2.0   2.0
4   3808709   4.744932     Apartment  ...    20009      0.0   1.0

[5 rows x 29 columns]

In [72]:
airbnb.isnull().sum()

id                            0
log_price                     0
property_type                 0
room_type                     0
amenities                     0
accommodates                  0
bathrooms                   200
bed_type                      0
cancellation_policy           0
cleaning_fee                  0
city                          0
description                   0
first_review              15864
host_has_profile_pic        188
host_identity_verified      188
host_response_rate        18299
host_since                  188
instant_bookable              0
last_review               15827
latitude                      0
longitude                     0
name                          0
neighbourhood              6872
number_of_reviews             0
review_scores_rating      16722
thumbnail_url              8216
zipcode                     966
bedrooms                     91
beds                        131
dtype: int64

In [73]:
airbnb['host_has_profile_pic'].value_counts()

t    73697
f      226
Name: host_has_profile_pic, dtype: int64

In [74]:
missing_df = airbnb.isnull().sum(axis=0).reset_index()
missing_df.columns = ['column_name', 'missing_count']
missing_df = missing_df.loc[missing_df['missing_count']>0]
missing_df = missing_df.sort_values(by='missing_count')
missing_df

               column_name  missing_count
27                bedrooms             91
28                    beds            131
13    host_has_profile_pic            188
14  host_identity_verified            188
16              host_since            188
6                bathrooms            200
26                 zipcode            966
22           neighbourhood           6872
25           thumbnail_url           8216
18             last_review          15827
12            first_review          15864
24    review_scores_rating          16722
15      host_response_rate          18299

In [75]:
search = SearchEngine(simple_zipcode=True)
# 'bathrooms'
airbnb['bathrooms'] = airbnb['bathrooms'].fillna(0)


# 'bedrooms'
airbnb['bedrooms'] = airbnb['bedrooms'].fillna(0)

# 'beds' 
airbnb['beds'] = airbnb['beds'].fillna(0)


# 'host_has_profile_pic'
airbnb.loc[airbnb.host_has_profile_pic == 't', 'host_has_profile_pic'] = 1
airbnb.loc[airbnb.host_has_profile_pic == 'f', 'host_has_profile_pic'] = 0
airbnb['host_has_profile_pic'] = airbnb['host_has_profile_pic'].fillna(0)

# 'neighbourhood'
airbnb['neighbourhood'] = airbnb['neighbourhood'].fillna('Unknown')

# 'review_scores_rating'
airbnb['review_scores_rating'] = airbnb['review_scores_rating'].fillna(0)

# 'host_response_rate'
airbnb['host_response_rate'] = airbnb['host_response_rate'].str.replace('%','')
airbnb['host_response_rate'] = airbnb['host_response_rate'].fillna('0')
airbnb['host_response_rate'] = pd.to_numeric(airbnb['host_response_rate'])

# 'thumbnai_url'
airbnb['thumbnail_url'] = airbnb['thumbnail_url'].fillna('Unknown')

# 'last_review'
airbnb['last_review'] = airbnb['last_review'].fillna('00-00-00')

# 'first_review'
airbnb['first_review'] = airbnb['first_review'].fillna('00-00-00')

# 'host_since'
airbnb['host_since'] = airbnb['host_since'].fillna('00-00-00')

# 'host_identity_verified'
airbnb.loc[airbnb.host_identity_verified == 't', 'host_identity_verified'] = 1
airbnb.loc[airbnb.host_identity_verified == 'f', 'host_identity_verified'] = 0
airbnb['host_identity_verified'] = airbnb['host_identity_verified'].fillna(0)

# 'zipcode'
airbnb['zipcode'] = airbnb['zipcode'].fillna(0)
airbnb.loc[airbnb.zipcode == ' ', 'zipcode'] = 0
idx = airbnb.index[airbnb['zipcode']==0].tolist()
for i in idx:
    lat = airbnb['latitude'][i]
    lon = airbnb['longitude'][i]
    result = np.max(search.by_coordinates(lat, lon, radius=30, returns=5))
    airbnb['zipcode'][i]=result.values()[0]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [76]:
missing_df = airbnb.isnull().sum(axis=0).reset_index()
missing_df.columns = ['column_name', 'missing_count']
missing_df = missing_df.loc[missing_df['missing_count']>0]
missing_df = missing_df.sort_values(by='missing_count')
missing_df

Empty DataFrame
Columns: [column_name, missing_count]
Index: []

In [77]:
airbnb['int_price'] = np.exp(airbnb['log_price'])

In [79]:
airbnb.head()

         id  log_price property_type  ... bedrooms beds  int_price
0   6901257   5.010635     Apartment  ...      1.0  1.0      150.0
1   6304928   5.129899     Apartment  ...      3.0  3.0      169.0
2   7919400   4.976734     Apartment  ...      1.0  3.0      145.0
3  13418779   6.620073         House  ...      2.0  2.0      750.0
4   3808709   4.744932     Apartment  ...      0.0  1.0      115.0

[5 rows x 30 columns]

In [80]:
airbnb = airbnb.drop(['instant_bookable', 'name', 'amenities', 'zipcode', 'thumbnail_url', 'host_since',
                                  'first_review', 'description', 'id'], axis=1)

In [83]:
print(airbnb.shape)
airbnb.isnull().sum()

(74111, 21)

log_price                 0
property_type             0
room_type                 0
accommodates              0
bathrooms                 0
bed_type                  0
cancellation_policy       0
cleaning_fee              0
city                      0
host_has_profile_pic      0
host_identity_verified    0
host_response_rate        0
last_review               0
latitude                  0
longitude                 0
neighbourhood             0
number_of_reviews         0
review_scores_rating      0
bedrooms                  0
beds                      0
int_price                 0
dtype: int64